<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
      
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#burger-menu').click(function () {
            $('#burger-menu-list').toggleClass('hide-burger-menu');
        });
    </script>

</body>

</html>